@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
  background: #d1dedd;
}

header {
  background-color: #FEFBF6;
  padding: 5px ;
  box-shadow:24px 24px 35px #848484,
  -24px -24px 35px #ffffff;
  border-radius: 10%;
  
}

ul, a{
  list-style: none;
  margin: 0px;
  padding:top 50px;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: right
  
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color:black;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5%;
  transition: background-color 0.2s;
  transition: 
  scale 750ms ease-out
  
}

nav ul li a:hover, nav ul li a:focus {
  background-image: linear-gradient(90deg,
  #3498db 100%);
animation: slidernbw 5s linear infinite;
}
@keyframes slidernbw {
to {
background-position: 20vw;
}
} 

nav ul li a :focus{
  background-color: blue;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
  padding-left: 40px;
}
main {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 30px;
}
main div {
  overflow: hidden;
  background: #fff;
  border-radius: 6px;
  border: 16px solid #fff;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
}
main img {
  min-width: 100%;
  height: 100%;
}
main .short {
  grid-row: span 1;
}
main .tall {
  grid-row: span 2;
}

@media screen and (max-width: 960px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 620px) {
  main {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin-top: 20px;
  }
  nav {
    grid-template-columns: repeat(4, 1fr);
  }
  nav h1{
    grid-column: 1 / span 4;
    grid-row: 1;
  }  
}
